.body {
    background-color: rgb(46, 45, 45);
}

.card {
    width: 235px;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 20px solid black;
    background-color: rgb(105, 104, 104);
    font-size: 30px;
    text-align: center;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 white;
}
  
.container {
    padding: 2px 16px;
}
.round {
    border-radius: 75px;
}
.roundedge {
    border-radius: 25px;
}
