@mixin box {
    border: 2px solid black;
    padding: 20px 0 20px 0;
    border-radius: 5px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.637);
}
@mixin btn {
    border: 2px solid transparent;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
    box-shadow: none;
}  
.form {
    @include box();
    width: 500px;
    height: 100px;
}

.button {
    @include btn();  
    position: relative;
    left: 75%;
    top: 20%;
}

.button:hover {
    color: blue;
    cursor: pointer;
}
input {
    height: 25px;  
}

.ctitle {
    color: white;
    position: relative;
    left: 2.5%;
    bottom: 35%;
}


