@mixin hero {
    width: 75%;
    height: 75%;
    border-radius: 20px;
}
@mixin img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.herobar {
    @include hero();
    text-align: center;
    background-color: rgb(187, 223, 224);
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.box {
    width: 100%;
    height: 100%;
    background-image: url(../example.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}



@media only screen and (max-width: 600px) {
    .herobar {
        width: 100%;
        background-color: rgb(250, 185, 186);
    }
    .container {
        justify-content: unset;
        align-items: unset;
    }
}

